# Mac-specific ignores
*.DS_Store

# Intermediate JaTeste compiling files
*.cmi
*.cmo
scanner.ml
interpreter
parser.ml
parser.mli
src/_build/

# The built compiler
src/jateste.native

# Compiled '.ll' files
*.ll

# Other
*.aux
*.toc
*.log
*.synctex.gz
*.swp
